<ion-view title="A Empresa" id="page3" style="background-color:#CADBE7;">
    <ion-content padding="true" class="has-header">
        <h4 id="aEmpresa-heading4" style="color:#113B5C;text-align:center;">Etec Doutora Ruth Cardoso</h4>
        <div>
            <img src="img/NF72oLzwSSWNA1Ii737I_etec_saovicente-e1405303412631-390x279.jpg" width="100%" height="70%" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <div class="spacer" style="width: 283px; height: 11px;"></div>
        <div id="aEmpresa-markdown4" style="color:#000000;text-align:justify;">
            <p>A ETEC Doutora Ruth Cardoso é uma instituição do Centro Paula Souza que oferece ensino médio e técnico gratuito e de qualidade, com os cursos de Informática, Edificações, Enfermagem, Logística e Administração.</p>
        </div>
        <div class="spacer" style="width: 283px; height: 72px;"></div>
        <h3 id="aEmpresa-heading5" style="color:#113B5C;">Centro Paula Souza</h3>
        <div>
            <img src="img/UOIkLyxLTG2szzv5e9Uw_logo_cps.png" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <div class="spacer" style="width: 283px; height: 18px;"></div>
        <div id="aEmpresa-markdown5" style="color:#000000;">
            <p>O Centro Paula Souza é um projeto do governo do estado de São Paulo que promove a educação profissional dentro de referências de excelência</p>
        </div>
    </ion-content>
</ion-view>