<ion-view title="Contato" id="page4" style="background-color:#CADBE7;">
    <ion-content padding="true" class="has-header">
        <h1 id="contato-heading6" style="color:#113B5C;">Contato</h1>
        <div>
            <hr style="border: 2px solid #fff
">
        </div>
        <form class="list">
            <label class="item item-input">
                <span class="input-label">Nome:</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input">
                <span class="input-label">Email:</span>
                <input type="email" placeholder="">
            </label>
            <label class="item item-input">
                <span class="input-label">Mensagem:</span><textarea placeholder=""> </textarea>
            </label>
        </form>
        <button id="contato-button1" style="font-weight:500;" class="button button-dark button-small button-block">ENVIAR</button>
        <div id="contato-markdown7" style="color:#000000;"></div>
        <div class="spacer" style="width: 283px; height: 61px;"></div>
        <div>
            <b>
                <center>ETEC Doutora Ruth Cardoso</center>
            </b>
            <br>
            <b>Telefone:</b>(13) 3467-7153 / (13) 3467-2955
            <br>
            <br>
            <b>Endereço:</b>Praça Coronel José Lopes, 387 – Centro – São Vicente /SP
            <br>
            <br>
        </div>
        <a href="#" onclick="window.open('http:\\etecdrc.com.br', '_system', 'location=yes'); return false;" id="contato-button6" style="color:#000000;" class="button button-positive button-small button-block button-clear">http:\\etecdrc.com.br</a>
    </ion-content>
</ion-view>