<ion-view title="Início" id="page1" style="background-color:#CADBE7;">
    <ion-content padding="true" class="has-header">
        <h1 id="inCio-heading9" style="color:#113B5C;text-align:center;">Seja bem-vindo!</h1>
        <div>
            <hr style="border: 2px solid #fff">
        </div>
        <a ui-sref="menu.oCurso" id="inCio-button3" class="button button-dark  button-block">O curso</a>
        <a ui-sref="menu.produto" id="inCio-button2" class="button button-dark  button-block">O produto</a>
        <a ui-sref="menu.aEmpresa" id="inCio-button4" class="button button-dark  button-block">A empresa</a>
        <a ui-sref="menu.contato" id="inCio-button5" class="button button-dark  button-block">Contato</a>
    </ion-content>
</ion-view>