<ion-view title="O Curso" id="page2" style="background-color:#CADBE7;">
    <ion-content padding="true" class="has-header">
        <h2 id="oCurso-heading2" style="color:#113B5C;text-align:center;">Plataforma Híbrida</h2>
        <div id="oCurso-markdown3" style="color:#000000;"></div>
        <div id="oCurso-markdown6" style="color:#000000;">
            <p>O curso lecionado pelos professores André Seoane e Eric é oferecido aos alunos do curso técnico de informática do período vespertino e noturno da ETEC Doutora Ruth Cardoso e tem por objetivo promover o conhecimento no desenvolvimento de aplicativos
                para mobile utilizando a plataforma híbrida.</p>
        </div>
        <div>
            <img src="img/5UcOlCHS9aUEUawu5pG8_iPhone-icon.png" width="80%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
    </ion-content>
</ion-view>